{% extends "base.html" %}
  <head>
    <title>{% block title %}Записи сообщества {{ group.title }}{% endblock %} | Yatube </title>
  </head>
  <body>
    {% block content %}

      {% for post in posts %}
      <h1>{{ group.title }}</h1>
      <p>{{ group.description }}</p>
      <h3>
          Автор: {{ post.author.get_full_name }}, 
          дата публикации: {{ post.pub_date|date:"d M Y" }}
      </h3>
      <p>{{ post.text|linebreaksbr }}</p>
      <hr>
      {% endfor %}

    {% endblock %}
  </body>
  