<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% for post in posts %}
    <title>Записи сообщества {{ post.group }} | Yatube</title>
  </head>
  <body>
    <h1>{{ post.group }}</h1>
    <p>{{ post.group.description }}</p>
    <h3>
        Автор: {{ post.author.get_full_name }}, дата публикации: {{ post.pub_date|date:"d M Y" }}
    </h3>
    <p>{{ post.text }}</p>
    {% endfor %}
    <hr>
  </body>
</html>